@mixin chevron($size, $thickness, $color, $direction) {
    display: inline-block;
    height: $size;
    width: $size;
    border-width: $thickness 0 0 $thickness;
    border-color: $color;
    border-style: solid;
    @if $direction == 'right' {
        transform: rotate(135deg);
    } @else if $direction == 'down' {
        transform: rotate(225deg);
    } @else if $direction == 'left' {
        transform: rotate(315deg);
    } @else if $direction == 'up' {
        transform: rotate(45deg);
    }
}
